.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(6, 1fr);
    
    
    width: 98%;
    height: 800px;
    align-items: center;
   /* background-image: url(../../images/background.PNG);*/
    background-repeat: no-repeat;
    
}