.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    background-image: url(../../images/background2.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    height: 765px;
    width: 1087px;
    align-items: center;
}

.main > div:nth-child(1) {
    grid-column: 1 / 3;
	/* grid-row-start: 1; */
	grid-row: 3 /6;
    background-color: aqua;
    height: 100%;
    width: 80%;
    padding-right: -50px;
    padding-left: 50px;
}