.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
    
    width: 98%;
    
    align-items: center;
    background-image: url(../../images/background.PNG);
    background-repeat: no-repeat;
    
}